*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #73D5F6;
  background-size: cover;
  background-repeat: no-repeat;
}


